/* margin: 25px 50px 75px 100px;
top margin is 25px
right margin is 50px
bottom margin is 75px
left margin is 100px */

body {
  overflow-x: hidden;
}
.header {
  background-color: #2b0318;
}

.dkteimg {
  height: 10%;
  width: 10%;
  margin-left: 6%;
}

.dkteimg1 {
  margin: 0% 0% 0% 7%;
}

.line {
  border-left: 1px solid #fecc00;
  height: 15vh;
  margin: -5% 0% 0% 18%;
  padding-left: 0rem;
}
.title{
  font-family: 'Times New Roman', Times, serif;
  font-size:xx-large;

}
.list{
  color: black;
}
.line1 {
  border-left: 1px solid #fecc00;
  height: 11vh;
  margin: -5% 0% 0% 20%;
  padding-left: 0rem;
}

.name {
  font-weight: 700;
  font-size: 17px;
  color: #fecc00;
  font-family: Titillium Web, sans-serif;
}
input[type=button] {
  background-color: #2b0318;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  font-size: large;
}
.btnn{
  color: white;  
  background-color: #2b0318;
}
.btnn:hover {
  background-color: #fff;
}

.text {
  list-style-type: none;
  margin: 0% 0% 0% -1%;
}

.nav {
  border-radius: 0%;
  width: 100%;
  font-size: 18px;
  background-color: #fecc00;
  display: flex;
}

.cover {
  /* The image used */
  background-image: url("cover.jpg");

  /* Full height */
  height: 62vh;
  margin-top:   1%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.para {
  margin: 2% 10% 7% 10%;
  font-size: 20px;
}

.paraa {
  margin: 3% 0% 3% 4%;
  font-size: 20px;
}

.footer {
  background-color: #2b0318;
  color: white;
  padding-left: 20px;
  display: block;
}

.footer1 {
  float: left;
  width: 20%;
  padding-left: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.tollfree {
  color: #fff;
  font-size: 26px;
  font-weight: 600;
}

